# Web klasöründeki her şeyi istatistiklerden çıkar
web/** linguist-vendored

# Android ve iOS klasörlerini çıkar
android/** linguist-vendored
ios/** linguist-vendored

# Otomatik oluşturulan diğer dosyaları çıkar
*.html linguist-vendored
*.js linguist-vendored
*.css linguist-vendored